/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._wrapper_1w2ly_123 {
  display: flex;
  align-items: center;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
}
._wrapper_1w2ly_123._no-border_1w2ly_129 {
  border: none;
}
._badge_1w2ly_133 {
  padding: var(--spacing-4xs) var(--spacing-2xs);
  background-color: var(--color-background-xlight);
  border-color: var(--color-foreground-base);
  z-index: 1;
  position: relative;
  height: 23px;
}
._badge_1w2ly_133 .n8n-text,
._badge_1w2ly_133 a {
  color: var(--color-text-base);
}
._projectBadge_1w2ly_146 > span {
  display: flex;
  gap: var(--spacing-3xs);
}
._count-badge_1w2ly_151 {
  font-size: var(--font-size-2xs);
  padding: var(--spacing-4xs) var(--spacing-3xs);
  color: var(--color-text-base);
  border-left: var(--border-base);
  line-height: var(--font-line-height-regular);
}