/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.node-error-view__header {
  margin: 0 auto var(--spacing-s) auto;
  padding-bottom: var(--spacing-3xs);
  background-color: var(--color-background-xlight);
  border: 1px solid var(--color-foreground-base);
  border-radius: var(--border-radius-large);
}
.node-error-view__header-title {
  padding: var(--spacing-2xs) var(--spacing-s);
  border-bottom: 1px solid var(--color-danger-tint-1);
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-danger-tint-2);
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  color: var(--color-danger);
}
.node-error-view__header-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-s) var(--spacing-3xs) var(--spacing-s);
  color: var(--color-danger);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-s);
}
.node-error-view__header-description {
  overflow: hidden;
  padding: 0 var(--spacing-s) var(--spacing-3xs) var(--spacing-s);
  font-size: var(--font-size-xs);
}
.node-error-view__header-description ul {
  padding: var(--spacing-s) 0;
  padding-left: var(--spacing-l);
}
.node-error-view__header-description code {
  font-size: var(--font-size-xs);
  color: var(--color-text-base);
  background: var(--color-background-base);
  padding: var(--spacing-5xs);
  border-radius: var(--border-radius-base);
}
.node-error-view__button {
  margin-left: var(--spacing-s);
  margin-bottom: var(--spacing-xs);
  flex-direction: row-reverse;
}
.node-error-view__button span {
  margin-right: var(--spacing-5xs);
  margin-left: var(--spacing-5xs);
}
.node-error-view__debugging {
  font-size: var(--font-size-s);
}
.node-error-view__debugging ul,
.node-error-view__debugging ol,
.node-error-view__debugging dl {
  padding-left: var(--spacing-s);
  margin-top: var(--spacing-2xs);
  margin-bottom: var(--spacing-2xs);
}
.node-error-view__debugging pre {
  padding: var(--spacing-s);
  width: 100%;
  overflow: auto;
  background: var(--color-background-light);
}
.node-error-view__debugging pre code {
  font-size: var(--font-size-s);
}
.node-error-view__feedback-toolbar {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
  padding-top: var(--spacing-3xs);
  border-top: 1px solid var(--color-foreground-base);
}
.node-error-view__feedback-button {
  width: var(--spacing-2xl);
  height: var(--spacing-2xl);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.node-error-view__feedback-button:hover {
  color: var(--color-primary);
}
.node-error-view__info {
  margin: 0 auto;
  border: 1px solid var(--color-foreground-base);
  border-radius: var(--border-radius-large);
}
.node-error-view__info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-3xs) var(--spacing-3xs) var(--spacing-3xs) var(--spacing-s);
  border-bottom: 1px solid var(--color-foreground-base);
}
.node-error-view__info-title {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark);
}
.node-error-view__info-content {
  padding: var(--spacing-2xs) var(--spacing-s);
}
.node-error-view__details:not(:last-child) {
  margin-bottom: var(--spacing-2xs);
}
.node-error-view__details[open] .node-error-view__details-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.node-error-view__details-summary {
  padding: var(--spacing-5xs) 0;
  font-size: var(--font-size-2xs);
  color: var(--color-text-dark);
  cursor: pointer;
  list-style-type: none;
  outline: none;
}
.node-error-view__details-content {
  padding: var(--spacing-2xs) var(--spacing-s);
}
.node-error-view__details-row {
  display: flex;
  padding: var(--spacing-4xs) 0;
}
.node-error-view__details-row:not(:first-child) {
  border-top: 1px solid var(--color-foreground-base);
}
.node-error-view__details-icon {
  margin-right: var(--spacing-xs);
}
.node-error-view__details-label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  color: var(--color-text);
  font-size: var(--font-size-2xs);
}
.node-error-view__details-value {
  flex: 1;
  overflow: hidden;
  margin-right: auto;
  color: var(--color-text);
  font-size: var(--font-size-2xs);
  word-wrap: break-word;
}
.node-error-view__details-value code {
  color: var(--color-json-string);
  white-space: normal;
  word-wrap: break-word;
}
.node-error-view__button {
  margin-top: var(--spacing-xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._relatedExecutionInfo_saqms_123 {
  font-size: var(--font-size-s);
  margin-left: var(--spacing-3xs);
}
._relatedExecutionInfo_saqms_123 svg {
  padding-bottom: var(--spacing-5xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.__html-display {
  width: 100%;
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
img,
video {
  max-height: 100%;
  max-width: 100%;
}
.binary-data.other, .binary-data.pdf {
  height: 100%;
  width: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.binary-data-window {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: calc(100% - 50px);
  background-color: var(--color-run-data-background);
  overflow: hidden;
  text-align: center;
}
.binary-data-window.json {
  overflow: auto;
}
.binary-data-window .binary-data-window-wrapper {
  margin-top: 0.5em;
  padding: 0 1em;
  height: calc(100% - 50px);
}
.binary-data-window .binary-data-window-wrapper .el-row,
.binary-data-window .binary-data-window-wrapper .el-col {
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._pinDataButton_12tk2_123 svg {
  transition: transform 0.3s ease;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._itemsText_1p5xj_123 {
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._muted_1p5xj_130 {
  color: var(--color-text-light);
  font-size: var(--font-size-2xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._icon_1xx9c_123 {
  padding-inline: var(--spacing-2xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._infoIcon_12zhg_123 {
  color: var(--color-foreground-dark);
}
._center_12zhg_127 {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-s) var(--spacing-s) var(--spacing-xl) var(--spacing-s);
  text-align: center;
}
._center_12zhg_127 > * {
  max-width: 316px;
  margin-bottom: var(--spacing-2xs);
}
._container_12zhg_141 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
._pinnedDataCallout_12zhg_149 {
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
._header_12zhg_157 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-s) var(--spacing-s) 0 var(--spacing-s);
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: calc(30px + var(--spacing-s));
  scrollbar-width: thin;
}
._compact_12zhg_168 ._header_12zhg_157 {
  margin-bottom: var(--spacing-4xs);
  padding: var(--spacing-4xs) var(--spacing-s) 0 var(--spacing-s);
}
._header_12zhg_157 > *:first-child {
  flex-grow: 1;
}
._dataContainer_12zhg_176 {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
._dataContainer_12zhg_176:hover ._actions-group_12zhg_181 {
  opacity: 1;
}
._dataDisplay_12zhg_185 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--spacing-s) var(--spacing-3xl) var(--spacing-s);
  right: 0;
  overflow-y: auto;
  line-height: var(--font-line-height-xloose);
  word-break: normal;
  height: 100%;
}
._inlineError_12zhg_197 {
  line-height: var(--font-line-height-xloose);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
._outputs_12zhg_204 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
._tabs_12zhg_213 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  --color-tabs-arrow-buttons: var(--color-run-data-background);
}
._itemsCount_12zhg_221 {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  flex-flow: wrap;
}
._inputSelect_12zhg_231 {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
._runSelector_12zhg_237 {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  gap: var(--spacing-3xs);
}
._runSelector_12zhg_237 .el-input--suffix .el-input__inner {
  padding-right: var(--spacing-l);
}
._runSelectorInner_12zhg_250 {
  display: flex;
  gap: var(--spacing-4xs);
  align-items: center;
}
._runSelectorSelect_12zhg_256 {
  max-width: 205px;
}
._search_12zhg_260 {
  margin-left: auto;
}
._pagination_12zhg_264 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 5px;
  overflow-y: hidden;
}
._pageSizeSelector_12zhg_274 {
  text-transform: capitalize;
  max-width: 150px;
  flex: 0 1 auto;
}
._binaryIndex_12zhg_280 {
  display: block;
  padding: var(--spacing-2xs);
  font-size: var(--font-size-2xs);
}
._binaryIndex_12zhg_280 > * {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: var(--border-radius-base);
  text-align: center;
  background-color: var(--color-foreground-xdark);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-xlight);
}
._binaryRow_12zhg_297 {
  display: inline-flex;
  font-size: var(--font-size-2xs);
}
._binaryCell_12zhg_302 {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  background-color: var(--color-foreground-xlight);
  margin-right: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  border-radius: var(--border-radius-base);
  border: var(--border-base);
  padding: var(--spacing-s);
}
._binaryHeader_12zhg_314 {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: 1.2em;
  padding-bottom: var(--spacing-2xs);
  margin-bottom: var(--spacing-2xs);
  border-bottom: 1px solid var(--color-text-light);
}
._binaryButtonContainer_12zhg_323 {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._binaryButtonContainer_12zhg_323 > * {
  flex-grow: 0;
  margin-right: var(--spacing-3xs);
}
._binaryValue_12zhg_334 {
  white-space: initial;
  word-wrap: break-word;
}
._displayModes_12zhg_339 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: var(--spacing-2xs);
}
._tooltipContain_12zhg_347 {
  max-width: 240px;
}
._spinner_12zhg_351 {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-s);
}
._spinner_12zhg_351 * {
  color: var(--color-primary);
  min-height: 40px;
  min-width: 40px;
}
._editMode_12zhg_362 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}
._editModeBody_12zhg_371 {
  flex: 1 1 auto;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}
._editModeFooter_12zhg_378 {
  flex: 0 1 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
._editModeFooterInfotip_12zhg_388 {
  display: flex;
  flex: 1;
  width: 100%;
}
._editModeActions_12zhg_394 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: var(--spacing-s);
}
._stretchVertically_12zhg_401 {
  height: 100%;
}
._uiBlocker_12zhg_405 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._hintCallout_12zhg_410 {
  margin-bottom: var(--spacing-xs);
  margin-left: var(--spacing-s);
  margin-right: var(--spacing-s);
}
._schema_12zhg_416 {
  padding: 0 var(--spacing-s);
}
._compact_12zhg_168 ._search_12zhg_260,
._compact_12zhg_168 ._displayModeSelect_12zhg_421 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
._compact_12zhg_168:hover ._search_12zhg_260,
._compact_12zhg_168:hover ._displayModeSelect_12zhg_421 {
  opacity: 1;
  visibility: visible;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.run-data .code-node-editor[data-v-97a8af0b] {
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
[data-v-97a8af0b] .highlight {
  background-color: #f7dc55;
  color: black;
  border-radius: var(--border-radius-base);
  padding: 0 1px;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}