/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.node-error-view__header {
  margin: 0 auto var(--spacing-s) auto;
  padding-bottom: var(--spacing-3xs);
  background-color: var(--color-background-xlight);
  border: 1px solid var(--color-foreground-base);
  border-radius: var(--border-radius-large);
}
.node-error-view__header-title {
  padding: var(--spacing-2xs) var(--spacing-s);
  border-bottom: 1px solid var(--color-danger-tint-1);
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-danger-tint-2);
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  color: var(--color-danger);
}
.node-error-view__header-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-s) var(--spacing-3xs) var(--spacing-s);
  color: var(--color-danger);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-s);
}
.node-error-view__header-description {
  overflow: hidden;
  padding: 0 var(--spacing-s) var(--spacing-3xs) var(--spacing-s);
  font-size: var(--font-size-xs);
}
.node-error-view__header-description ul {
  padding: var(--spacing-s) 0;
  padding-left: var(--spacing-l);
}
.node-error-view__header-description code {
  font-size: var(--font-size-xs);
  color: var(--color-text-base);
  background: var(--color-background-base);
  padding: var(--spacing-5xs);
  border-radius: var(--border-radius-base);
}
.node-error-view__button {
  margin-left: var(--spacing-s);
  margin-bottom: var(--spacing-xs);
  flex-direction: row-reverse;
}
.node-error-view__button span {
  margin-right: var(--spacing-5xs);
  margin-left: var(--spacing-5xs);
}
.node-error-view__debugging {
  font-size: var(--font-size-s);
}
.node-error-view__debugging ul,
.node-error-view__debugging ol,
.node-error-view__debugging dl {
  padding-left: var(--spacing-s);
  margin-top: var(--spacing-2xs);
  margin-bottom: var(--spacing-2xs);
}
.node-error-view__debugging pre {
  padding: var(--spacing-s);
  width: 100%;
  overflow: auto;
  background: var(--color-background-light);
}
.node-error-view__debugging pre code {
  font-size: var(--font-size-s);
}
.node-error-view__feedback-toolbar {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
  padding-top: var(--spacing-3xs);
  border-top: 1px solid var(--color-foreground-base);
}
.node-error-view__feedback-button {
  width: var(--spacing-2xl);
  height: var(--spacing-2xl);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.node-error-view__feedback-button:hover {
  color: var(--color-primary);
}
.node-error-view__info {
  margin: 0 auto;
  border: 1px solid var(--color-foreground-base);
  border-radius: var(--border-radius-large);
}
.node-error-view__info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-3xs) var(--spacing-3xs) var(--spacing-3xs) var(--spacing-s);
  border-bottom: 1px solid var(--color-foreground-base);
}
.node-error-view__info-title {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark);
}
.node-error-view__info-content {
  padding: var(--spacing-2xs) var(--spacing-s);
}
.node-error-view__details:not(:last-child) {
  margin-bottom: var(--spacing-2xs);
}
.node-error-view__details[open] .node-error-view__details-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.node-error-view__details-summary {
  padding: var(--spacing-5xs) 0;
  font-size: var(--font-size-2xs);
  color: var(--color-text-dark);
  cursor: pointer;
  list-style-type: none;
  outline: none;
}
.node-error-view__details-content {
  padding: var(--spacing-2xs) var(--spacing-s);
}
.node-error-view__details-row {
  display: flex;
  padding: var(--spacing-4xs) 0;
}
.node-error-view__details-row:not(:first-child) {
  border-top: 1px solid var(--color-foreground-base);
}
.node-error-view__details-icon {
  margin-right: var(--spacing-xs);
}
.node-error-view__details-label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  color: var(--color-text);
  font-size: var(--font-size-2xs);
}
.node-error-view__details-value {
  flex: 1;
  overflow: hidden;
  margin-right: auto;
  color: var(--color-text);
  font-size: var(--font-size-2xs);
  word-wrap: break-word;
}
.node-error-view__details-value code {
  color: var(--color-json-string);
  white-space: normal;
  word-wrap: break-word;
}
.node-error-view__button {
  margin-top: var(--spacing-xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._copyToClipboard_kaw5r_123 {
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-s);
}
._rawContent_kaw5r_129 {
  position: relative;
}
._markdown_kaw5r_133 {
  white-space: pre-wrap;
}
._markdown_kaw5r_133 h1 {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-xloose);
}
._markdown_kaw5r_133 h2 {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-loose);
}
._markdown_kaw5r_133 h3 {
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-regular);
}
._markdown_kaw5r_133 pre {
  background: var(--chat--message--pre--background);
  border-radius: var(--border-radius-base);
  line-height: var(--font-line-height-xloose);
  padding: var(--spacing-s);
  font-size: var(--font-size-s);
  white-space: pre-wrap;
}
._contentText_kaw5r_157 {
  padding-top: var(--spacing-s);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  font-size: var(--font-size-s);
}
._block_kaw5r_164 {
  padding: var(--spacing-s) 0 var(--spacing-2xs) var(--spacing-2xs);
  border: 1px solid var(--color-foreground-light);
  margin-top: var(--spacing-s);
  border-radius: var(--border-radius-base);
}
:root ._blockContent_kaw5r_171 {
  height: 0;
  overflow: hidden;
}
:root ._blockContent_kaw5r_171._blockContentExpanded_kaw5r_175 {
  height: auto;
}
._runText_kaw5r_179 {
  line-height: var(--font-line-height-xloose);
  white-space: pre-line;
}
._rawSwitch_kaw5r_184 {
  opacity: 0;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: var(--spacing-2xs);
}
._block_kaw5r_164:hover ._rawSwitch_kaw5r_184 {
  opacity: 1;
}
._blockHeader_kaw5r_194 {
  display: flex;
  gap: var(--spacing-xs);
  cursor: pointer;
  /* This hack is needed to make the whole surface of header clickable  */
  margin: calc(-1 * var(--spacing-xs));
  padding: var(--spacing-2xs) var(--spacing-xs);
  align-items: center;
}
._blockHeader_kaw5r_194 * {
  -webkit-user-select: none;
          user-select: none;
}
._blockTitle_kaw5r_207 {
  font-size: var(--font-size-s);
  color: var(--color-text-dark);
  margin: 0;
  padding-bottom: var(--spacing-4xs);
}
._blockToggle_kaw5r_214 {
  border: none;
  background: none;
  padding: 0;
  color: var(--color-text-base);
  margin-top: calc(-1 * var(--spacing-3xs));
}
._error_kaw5r_222 {
  padding: var(--spacing-s) 0;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._relatedExecutionInfo_saqms_123 {
  font-size: var(--font-size-s);
  margin-left: var(--spacing-3xs);
}
._relatedExecutionInfo_saqms_123 svg {
  padding-bottom: var(--spacing-5xs);
}
._container_dypaw_2 {
	padding: 0 var(--spacing-s) var(--spacing-s);
}
._nodeIcon_dypaw_5 {
	margin-top: calc(var(--spacing-3xs) * -1);
}
._header_dypaw_8 {
	display: flex;
	align-items: center;
	gap: var(--spacing-3xs);
	margin-bottom: var(--spacing-s);
}
._headerWrap_dypaw_14 {
	display: flex;
	flex-direction: column;
}
._title_dypaw_18 {
	display: flex;
	align-items: center;
	font-size: var(--font-size-s);
	gap: var(--spacing-3xs);
	color: var(--color-text-dark);
}
._meta_dypaw_25 {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: var(--font-size-xs);
& > li:not(:last-child) {
		border-right: 1px solid var(--color-text-base);
		padding-right: var(--spacing-3xs);
}
& > li:not(:first-child) {
		padding-left: var(--spacing-3xs);
}
}
._tokensUsage_dypaw_41 {
	display: flex;
	align-items: center;
	gap: var(--spacing-3xs);
}
/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._treeToggle_1qaq4_123 {
  border: none;
  background-color: transparent;
  padding: 0 var(--spacing-3xs);
  margin: 0 calc(-1 * var(--spacing-3xs));
  cursor: pointer;
}
._leafLabel_1qaq4_131 {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
}
._noData_1qaq4_137 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-text-light);
}
._empty_1qaq4_145 {
  padding: var(--spacing-l);
}
._title_1qaq4_149 {
  font-size: var(--font-size-s);
  margin-bottom: var(--spacing-xs);
}
._tree_1qaq4_123 {
  flex-shrink: 0;
  min-width: 8rem;
  height: 100%;
  padding-right: var(--spacing-xs);
  padding-left: var(--spacing-2xs);
}
._tree_1qaq4_123._slim_1qaq4_161 {
  min-width: auto;
}
._runData_1qaq4_165 {
  width: 100%;
  height: 100%;
  overflow: auto;
}
._container_1qaq4_171 {
  height: 100%;
  padding: 0 var(--spacing-xs);
  display: flex;
}
._container_1qaq4_171 .el-tree > .el-tree-node {
  position: relative;
}
._container_1qaq4_171 .el-tree > .el-tree-node:after {
  content: "";
  position: absolute;
  top: 2rem;
  bottom: 1.2rem;
  left: 0.75rem;
  width: 0.125rem;
  background-color: var(--color-foreground-base);
}
._container_1qaq4_171 .el-tree-node__expand-icon {
  display: none;
}
._container_1qaq4_171 .el-tree {
  margin-left: calc(-1 * var(--spacing-xs));
}
._container_1qaq4_171 .el-tree-node__content {
  margin-left: var(--spacing-xs);
}
._nodeIcon_1qaq4_198 {
  padding: var(--spacing-3xs) var(--spacing-3xs);
  border-radius: var(--border-radius-base);
  margin-right: var(--spacing-4xs);
}
._isSelected_1qaq4_204 {
  background-color: var(--color-foreground-base);
}
._treeNode_1qaq4_208 {
  display: inline-flex;
  border-radius: var(--border-radius-base);
  align-items: center;
  padding-right: var(--spacing-3xs);
  margin: var(--spacing-4xs) 0;
  font-size: var(--font-size-2xs);
  color: var(--color-text-dark);
  margin-bottom: var(--spacing-3xs);
  cursor: pointer;
}
._treeNode_1qaq4_208._isSelected_1qaq4_204 {
  font-weight: var(--font-weight-bold);
}
._treeNode_1qaq4_208:hover {
  background-color: var(--color-foreground-base);
}
._treeNode_1qaq4_208[data-tree-depth="0"] {
  margin-left: calc(-1 * var(--spacing-2xs));
}
._treeNode_1qaq4_208:after {
  content: "";
  position: absolute;
  margin: auto;
  background-color: var(--color-foreground-base);
  height: 0.125rem;
  left: 0.75rem;
  width: calc(var(--item-depth) * 0.625rem);
  margin-top: var(--spacing-3xs);
}