/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._dataDisplay_y1ye8_123 {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: var(--spacing-s);
  right: 0;
  overflow-y: auto;
  line-height: 1.5;
  word-break: normal;
  height: 100%;
  padding-bottom: var(--spacing-3xl);
}
._table_y1ye8_136 {
  border-collapse: separate;
  text-align: left;
  width: 100%;
  font-size: var(--font-size-2xs);
  color: var(--color-text-base);
}
._table_y1ye8_136 th {
  background-color: var(--color-background-base);
  border-top: var(--border-base);
  border-bottom: var(--border-base);
  border-left: var(--border-base);
  position: sticky;
  top: 0;
  color: var(--color-text-dark);
  z-index: 1;
}
._lightHeader_y1ye8_153 ._table_y1ye8_136 th {
  background-color: var(--color-background-light);
}
._table_y1ye8_136 th._tableRightMargin_y1ye8_156 {
  background-color: transparent;
}
._table_y1ye8_136 td {
  vertical-align: top;
  padding: var(--spacing-4xs) var(--spacing-3xs);
  border-bottom: var(--border-base);
  border-left: var(--border-base);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  vertical-align: top;
}
._table_y1ye8_136 td:first-child,
._table_y1ye8_136 td:nth-last-child(2) {
  position: relative;
  z-index: 0;
}
._table_y1ye8_136 td:first-child:after,
._table_y1ye8_136 td:nth-last-child(2):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
}
._table_y1ye8_136 td:nth-last-child(2):after {
  right: -1px;
}
._table_y1ye8_136 td:first-child:after {
  left: -1px;
}
._table_y1ye8_136 th:last-child,
._table_y1ye8_136 td:last-child {
  border-right: var(--border-base);
}
._nodeClass_y1ye8_192 {
  margin-bottom: var(--spacing-5xs);
}
._emptyCell_y1ye8_196 {
  height: 32px;
}
._header_y1ye8_200 {
  display: flex;
  align-items: center;
  padding: var(--spacing-4xs) var(--spacing-3xs);
}
._header_y1ye8_200 span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}
._draggableHeader_y1ye8_212:hover {
  cursor: grab;
  background-color: var(--color-foreground-base);
}
._draggableHeader_y1ye8_212:hover ._dragButton_y1ye8_216 {
  opacity: 1;
}
._highlight_y1ye8_220 ._draggableHeader_y1ye8_212 {
  color: var(--color-primary);
}
._draggingHeader_y1ye8_224 {
  color: var(--color-primary);
  background-color: var(--color-primary-tint-2);
}
._activeHeader_y1ye8_229 ._dragButton_y1ye8_216 {
  opacity: 1;
}
._dragButton_y1ye8_216 {
  opacity: 0;
  margin-left: var(--spacing-2xs);
}
._dataKey_y1ye8_238 {
  color: var(--color-text-dark);
  line-height: 1.7;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-base);
  padding: 0 var(--spacing-5xs) 0 var(--spacing-5xs);
  margin-right: var(--spacing-5xs);
}
._value_y1ye8_247 {
  line-height: var(--font-line-height-regular);
}
._nestedValue_y1ye8_251 {
  margin-left: var(--spacing-4xs);
}
._mappable_y1ye8_256 {
  cursor: grab;
}
._empty_y1ye8_196 {
  color: var(--color-danger);
}
._limitColWidth_y1ye8_264 {
  max-width: 300px;
}
._minColWidth_y1ye8_268 {
  min-width: 240px;
}
._hoveringKey_y1ye8_272 {
  background-color: var(--color-foreground-base);
}
._draggingKey_y1ye8_276 {
  background-color: var(--color-primary-tint-2);
}
._tableRightMargin_y1ye8_156 {
  width: var(--spacing-s);
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
._hoveringRow_y1ye8_287 td:first-child:after,
._hoveringRow_y1ye8_287 td:nth-last-child(2):after {
  background-color: var(--color-secondary);
}
._warningTooltip_y1ye8_292 {
  color: var(--color-warning);
}
._executionLinkCell_y1ye8_296 {
  padding: var(--spacing-3xs) !important;
}
._executionLinkRowHeader_y1ye8_300 {
  width: var(--spacing-m);
}